html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.drag-container {
  width: 300px;
  padding: 20px;
  border: 1px solid black;
}

fw-drag-item {
  margin-bottom: 8px;
}